* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF; 
    font-size: 16px; } 

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    height: 7rem; }

.header img {
    height: 80%; }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    color: #505050;
    height: 7rem; }

.titlecard {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    min-height: 480px;
    max-height: 720px;
    padding: 5rem 5rem 5rem 5rem;
    background-color: #000000;
    color: #FFFFFF; }

.titlecard h1 {
    letter-spacing: 5px; }

.divider {
    height: 2rem;
    background-color: #000000; }

.paragraph {
    background-color: #131313;
    color: #FFFFFF;
    padding: 3rem 3rem 3rem 3rem; 
    text-align: center; }

.paragraph-wide {
    background-color: #131313;
    color: #FFFFFF;
    padding: 3rem 3rem 3rem 3rem; 
    text-align: center; }

.paragraph p{
    color: #AAAAAA; }

.paragraph-wide p{
    color: #AAAAAA; }

.insert-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000; }

.insert-accent-column {
    flex: 100%; 
    width: 100%;
    height: 100%; }

.insert-paragraph-column {
    flex: 100%; 
    width: 100%;
    height: 100%; }

.insert-accent-photostrip {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;
    max-height: 960px;
    background-color: #000000;
    padding: 1rem 1rem 1rem 1rem; }

.insert-accent-photostrip-item {
    background-size: cover;
    background-position: center; 
    margin: 1rem 0.5rem 1rem 0.5rem; }

.insert-accent-collage {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #000000;
    height: 100%;
    min-height: 600px;
    max-height: 960px;
    padding: 1rem 1rem 1rem 1rem; }

.insert-accent-collage-column {
    align-items: center;
    flex: 33%;
    height: 100%;
    max-height: 100%;
    margin: 0rem 0.5rem 0rem 0.5rem; }

.insert-accent-collage-column img {
    margin: 0.5rem 0 0.5rem 0;
    max-width: 100%; }

.insert-accent-photo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;
    max-height: 960px;
    background-color: #000000;
    padding: 1rem 1rem 1rem 1rem; }

p {
    font-size: 1.1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300; 
    margin-top: 1rem;
    margin-bottom: 1rem; }

h1 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 800; 
    margin-bottom: 1rem; }

h2 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;  
    font-weight: 400; }

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;  
    font-weight: 400; }

h4 {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', sans-serif;  
    font-weight: 400; }

@media (min-width: 768px) {
    p {
        font-size: 1.2rem; 
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }

    h1 {
        font-size: 3rem; }
    
    h2 {
        font-size: 2.5rem; }
    
    h3 {
        font-size: 2rem; }
    
    h4 {
        font-size: 1.3rem; }

    .header {
        height: 9rem; 
        padding-left: 1rem; 
        justify-content: left; }

    .divider {
        height: 2rem; }

    .paragraph {
        padding: 3rem 5rem 3rem 5rem; }
    
    .paragraph-wide {
        padding: 3rem 10rem 3rem 10rem; }
    
    .insert-container {
        flex-direction: row; }
    
    .insert-accent-column {
        padding: 0 1rem 0 1rem; 
        flex: 50%; }
    
    .insert-paragraph-column {
        flex: 50%; }

    .insert-accent-photostrip {
        min-height: 480px;
        max-height: 600px;
        flex-direction: row; }

    .insert-accent-collage {
        min-height: 480px;
        max-height: 600px;
        max-height: 100%; }

    .insert-accent-collage-column {
        max-height: 100%; }
    
    #reverse-for-desktop {
        flex-direction: row-reverse; }

    }

@media (min-width: 1280px) {
    p {
        font-size: 1.3rem; 
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }

    h1 {
        font-size: 4rem; }
    
    h2 {
        font-size: 2.5rem; }
    
    h3 {
        font-size: 2.5rem; }
    
    h4 {
        font-size: 1.5rem; }

    .divider {
        height: 3rem; }

    .header {
        height: 10rem; 
        padding-left: 3rem; 
        justify-content: left; }

    .paragraph {
        padding: 5rem 10rem 5rem 10rem;  }
        
    .paragraph-wide {
        padding: 5rem 20rem 5rem 20rem;  }
    
    .insert-accent-column {
        padding: 0 3rem 0 3rem; 
        flex: 40%; }
    
    .insert-paragraph-column {
        flex: 60%; } 
}