* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF; 
    font-size: 16px; } 

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    height: 5rem; }

.header img {
    height: 80%; }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    color: #505050;
    height: 7rem; 
    width: 100%; }

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    aspect-ratio: 16/9;
    min-height: 40vh;
    max-height: 90vh;
    padding: 5rem 5rem 5rem 5rem;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    color: #FFFFFF; }

.hero-headlines {
    position: relative;
    z-index: 10; }

.hero-bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%); }

.titlecard {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 480px;
    max-height: 720px;
    padding: 5rem 5rem 5rem 5rem;
    background-color: #000000;
    color: #FFFFFF; }

.titlecard h1 {
    letter-spacing: 5px; }

.divider {
    display: block;
    height: 3rem;
    background-color: #000000; }

.paragraph {
    background-color: #131313;
    color: #FFFFFF;
    padding: 3rem 1rem 3rem 1rem; 
    text-align: center; }

.paragraph p{
    max-width: 1280px;
    color: #AAAAAA; }

.paragraph-wide {
    display: block;
    flex-direction: column;
    background-color: #131313;
    color: #FFFFFF;
    padding: 3rem 3rem 3rem 3rem; 
    text-align: center; }

.paragraph-wide p{
    max-width: 1280px;
    color: #AAAAAA; }

.article-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #000000; }

.article-highlighter {
    flex: 100%; 
    width: 100%;
    height: 100%; }

.article-paragraph {
    flex: 100%; 
    width: 100%;
    height: 100%; }

.photostrip {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;
    max-height: 960px;
    background-color: #000000;
    padding: 0rem 1rem 0rem 1rem; }

.photostrip-item {
    background-size: cover;
    background-position: center; 
    margin: 1rem 0.5rem 1rem 0.5rem; }

.image-collage {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #000000;
    height: 100%;
    min-height: 480px;
    max-height: 960px;
    padding: 0rem 1rem 0rem 1rem; }

.image-collage-column {
    align-items: center;
    flex: 33%;
    height: 100%;
    max-height: 100%;
    margin: 0rem 0.5rem 0rem 0.5rem; }

.image-collage-column img {
    margin: 0.5rem 0 0.5rem 0;
    max-width: 100%; }

.photostrip {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 600px;
    max-height: 960px;
    background-color: #000000;
    padding: 1rem 1rem 1rem 1rem; }

p {
    font-size: 1.0rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400; 
    margin-top: 1rem;
    margin-bottom: 1rem; }

h1 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 800; 
    margin-bottom: 1rem; }

h2 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;  
    font-weight: 400; }

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;  
    font-weight: 400; }

h4 {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', sans-serif;  
    font-weight: 400; }

h5 {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', sans-serif;  
    font-weight: 400; }

@media (min-width: 768px) {
    p {
        font-size: 1rem; 
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }

    h1 {
        font-size: 2rem; }
    
    h2 {
        font-size: 1.5rem; }
    
    h3 {
        font-size: 1.3rem; }
    
    h4 {
        font-size: 1rem; }

    .header {
        height: 5rem; 
        justify-content: center; 
        width: 100%; }

    .divider {
        display: block;
        width: 100%;
        height: 2rem; }

    .paragraph {
        padding: 3rem 5rem 3rem 5rem; }
    
    .paragraph-wide {
        display: block;
        width: 100%;
        padding: 3rem 7rem 3rem 7rem; }
    
    .insert-container {
        flex-direction: row; }
    
    .article-highlighter {
        padding: 0 1rem 0 1rem; 
        flex: 50%; }
    
    .article-paragraph {
        flex: 50%; }

    .photostrip {
        min-height: 480px;
        max-height: 600px;
        flex-direction: row; }

    .image-collage {
        min-height: 480px;
        max-height: 600px;
        max-height: 100%; }

    .image-collage-column {
        max-height: 100%; }
    
    #reverse-for-desktop {
        flex-direction: row-reverse; }

    }

@media (min-width: 1280px) {
    p {
        font-size: 1.2rem; 
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }

    h1 {
        font-size: 5rem; }
    
    h2 {
        font-size: 2rem; }
    
    h3 {
        font-size: 1.7rem; }
    
    h4 {
        font-size: 1.5rem; }

    .divider {
        display: block;
        width: 100%;
        height: 3rem; }

    .header {
        height: 5rem; 
        padding-left: 20rem; 
        justify-content: left; }

    .paragraph {
        padding: 5rem 10rem 5rem 10rem;  }
        
    .paragraph-wide {
        display: block;
        width: 100%;
        padding: 5rem 20rem 5rem 20rem;  }
    
    .article-highlighter {
        padding: 0 3rem 0 3rem; 
        flex: 40%; }
    
    .article-paragraph {
        flex: 60%; } 
}